extends ./parent.pug

block navbar
block content
    div(class='login')
        form(action='/login', method='POST')
            div(class='form-group')
                label(for='username') Username:
                input(type='text', class='form-control', id='usrnm', aria-describedby='user', placeholder='Enter username', name='username')
            div(class='form-group')
                label(for='password') Password:
                input(type='password', name='password', class='form-control', id='pwd', placeholder='Password')
            button(type='submit', class='btn btn-primary') Log In
    div 
        a(href='/signup') Don't have an account? Sign up.
    if message
        div 
            p #{message}
