extends ./parent.pug

block content
    h2(class='text-center pt-4 pb-4') Stock Lookup
    p(class='text-primary at-the-top-right-corner' id='balance') $#{balance}
    div(class='container-fluid')
        div(class='row justify-content-center', id='row1')
            div(class='col-4-md col-6-sm', id='form1')
                form(class='form-inline', id='symbol-form')
                    div(class='form-group')
                        input(type="text", class="form-control", id="symbol", aria-describedby="symbol", placeholder="Enter stock symbol" required)
                    button(type='submit', class='btn btn-primary') Submit 
        div(class='row justify-content-center pt-3' id='row2')
        div(class='row justify-content-center', id='row3')
            div(class='col-4-md col-6-sm mt-2', id='form2')
        div(class='row justify-content-center', id='row4')
        div(class='row', id='row5')
            div(class='col-3')
            div(class='col-2', id='worth')
            div(class='col-2')
            div(class='col-2', id='roi')
            div(class='col-3')
                

block scripts 
    script(src='js/stockinfo.js')
    
    
