html
    head
body
    h1 Stocks
    form(action='checkprice', method='POST')
        p Symbol:
        input(type='text', name='symbol', value='')
        input(type='submit')
    if cost
        p #{cost}
