extends ./parent.pug

block content
    div(class='topnav')
        a(href='/logout') Log out 
    h1 Stocks
    div(class="input-group mb-3")
        input(type="text", name=class="form-control", placeholder="Recipient's username", aria-label="Recipient's username", aria-describedby="basic-addon2")
    if cost
        p Price per share: #{cost}
        form(action='buyorsell', method='POST')
            p Number of shares:
            input(type='text', name='number', value='')
            input(type='submit', formaction='buy', value='Buy')
            input(type='submit', formaction='sell', value='Sell')
    if message 
        p #{message}
    
