extends ./parent.pug

block content
    h2(class='text-center pt-4 pb-4') Stock Lookup
    div(class='row')
        div(class='col-4')
        div(class='col-4', id='contentdiv')
            form(class='form-inline justify-content-center', id='symbol-form')
                div(class='form-group')
                    input(type="text", class="form-control", id="symbol", aria-describedby="symbol", placeholder="Enter stock symbol" required)
                button(type='submit', class='btn btn-primary') Submit 
        div(class='col-4')

block scripts 
    script(src='js/stockinfo.js')
    
    
