// Variables: cost, message

html
    head
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
body
    div(class='topnav')
        a(href='/logout') Log out 
    h1 Stocks
    form(action='checkprice', method='POST')
        p Symbol:
        input(type='text', name='symbol', value='')
        input(type='submit')
    if cost
        p Price per share: #{cost}
        form(action='buyorsell', method='POST')
            p Number of shares:
            input(type='text', name='number', value='')
            input(type='submit', formaction='buy', value='Buy')
            input(type='submit', formaction='sell', value='Sell')
    if message 
        p #{message}
