// Variables: cost, xIntra, yIntra, xDaily, yDaily

html
    head
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
body
    h1 Stocks
    form(action='checkprice', method='POST')
        p Symbol:
        input(type='text', name='symbol', value='')
        input(type='submit')
    if cost
        p Price per share: #{cost}
        form(action='buyorsell', method='POST')
            p Number of shares:
            input(type='text', name='number', value='')
            input(type='submit', value='Buy')
            input(type='submit', value='Sell')
    