html
    head
body
    h1 Stocks
    form(action='checkprice', method='GET')
        p Symbol:
        input(type='text', name='symbol', value='')
        input(type='submit')
    p test if this works
    if cost
        p the cost is #{cost}

