html
    head
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
body
    h1 Stocks
    form(action='checkprice', method='POST')
        p Symbol:
        input(type='text', name='symbol', value='')
        input(type='submit')
    if cost
        p #{cost}
    if xs && ys && !blank
        div(id='history', style='width:600px;height:250px')
        script.
            TESTER = document.getElementById('history');
            Plotly.plot( TESTER, [{
                x: !{xs},
                y: !{ys} }], { 
                margin: { t: 0 } }, {showSendToCloud:false} );

            /* Current Plotly.js version */
            console.log( Plotly.BUILD );
        
