/* Note: names deliberately weird to avoid conflicts with Bootstrap class names */

.at-the-bottom {
  margin-top: 5%;
  text-align: center;
}

.at-the-top-right-corner {
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 120%;
}

.at-the-top-left-corner {
    position: absolute;
    top: 10%;
    left: 1%;
    font-size: 120%;
}

.slightly-larger {
    font-size: 130%;
}

.scrollable-div {
    overflow-y: auto;
    display: inline-block;
}

.dopad {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

html {
    overflow-y: scroll;
}
